.available {
  background: rgb(118, 118, 199);
  width: 70px;
}

.available:hover {
  background: rgb(76, 76, 143);
}

.header {
  background: rgb(76, 76, 143);
}

.button-container-calendar {
  display: flex;
  justify-content: space-between;
}

.button-container-calendar button {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  background: #00a2b7;
  color: #fff;
  border: 1px solid #0aa2b5;
  border-radius: 4px;
  padding: 5px 10px;
}

.table-container {
  display: table;
}

.selected {
  background: red;
  width: 70px;
}